@font-face{
    font-family: for_form;
    src: url('../fonts/corbel.ttf');
    font-style: oblique;
}
.he{

    position: relative;
    background-image: url('../images/we8.png');
    background-repeat: no-repeat;
    background-position-x: right;
    background-position-y: 80px;
}

.second-lyer{
    position:absolute;
    height:100%;
    width: 100%;
    background-color: #000;
    opacity: .8;
}
.head-text{
     position: absolute;
      color: #fff;
     font-size:15px;
      top:45vh;    
  }
.h2,h3{
    text-align: center;
}
.social ul{
    margin-top: 50vh;   
    position:  relative;
    float: right;
}
.social li{
   display :block;
    padding: 15px;
}
.lang ul{
    margin-top: 70vh;margin-left: 5vh;   
    position:  relative;
    float: left;
}
.lang li{
    display :block;
     padding: 15px;
 }
 .text{
    height: 30vh;
    position: relative;
    text-align: center;
    font-size:15px;
    padding: 11vh 70vh;
    
}
.text1{
    height: 30vh;
    max-height: 30vh;
    position: relative;
    text-align: center;
    font-size:15px;
    padding: 6vh;
    background-color: rgb(212, 221, 221);
}
button{
    background-color:seagreen ;
    font-size: 30px;
    color: white;
    font-style: normal;
    width: 30vh;
   
}
.form{
    font-family: for_form;
   background-color: rgb(216, 221, 221);
   direction: ltr;
   display: block;
   position: relative;
   padding: 5vh;
   
}
.cont{
    
    background-color: rgb(215, 223, 223);
    margin: 5px;
}
Textarea{
    width: 100%;
    height: 90px;   
    padding: 2px;
    margin-top: 5px;
    border: 0px;
    border-radius: 5px ;
}
Textarea:focus{
    box-shadow: -7px -4px 15px 5px darkturquoise;
}
input:focus{
    box-shadow: -7px -4px 15px 5px darkturquoise;
}
.form-control:focus{
    box-shadow: -7px -4px 15px 5px darkturquoise;
}
input[type="submit"]{
    background: rgb(44, 134, 236);
      color: white;  
      width: 20vh; 
      height:5vh ;

}